
body
{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	background-color:#ccf5ff;
}

h1
{
	font-family:georgia;
}
h2
{
	font-family:Arial;
}

header
{
	width:100%;
	background-color:#0099ff;
	border-style:solid;
	border-color:navy;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	/*border-radius:5px;*/
}

header>h1
{
	text-align:center;
	font-size:3em;
	text-shadow:2px 2px black;
	font-style:oblique;
	color:#FF9933;
}

nav
{
	font-size:110%;
	padding:3px;
	background-color:#007acc;
	text-align:center;
	
}
nav>ul>li
{
	font-family:georgia;
	padding:45px;
	display:inline;
}
nav>ul>li>a
{
	color:#FF9933;
}
#kategorije
{
	position:relative;
	width:25%;
	margin-top:17px;
	margin-bottom:5px;
	margin-left:auto;
	margin-right:auto;
	background-color:#0099ff;
	border-style:solid;
	border-color:black;
	float:left;
}

#kategorije>h2
{
	position:relative;
	margin:10px;
	text-align:center;
	font-size:140%;
	text-shadow:1px 1px black;
	font-family:georgia;
	font-style:oblique;
	color:#FF9933;
}

#kategorije>section
{
	width:75%;
	margin-left:auto;
	margin-right:auto;
}

#kategorije>section>ul>li
{
	width:100%;
	margin-left:auto;
	position:relative;
	padding:5px;
	font-family:Arial;
	font-size:110%;
	color:#000000;
	text-justify:auto;
	
}

#izdvojeni
{
	position:relative;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	width:70%;
	float:right;
}
#izdvojeni>section
{
	position:relative;
	padding-top:2%;
	padding-bottom:2%;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	height:22vh;
	background-color:#FFCC99;
	border-style:outset;
	border-color:black;
	overflow:hidden;
}

#slika
{
	padding-left:3%;
	position:relative;
	width:14vw;	
	height:22vh;
	float:left;
}

#izdvojeni>section>#slika>img
{
	position:relative;
	height:100%;
	width:100%;
	margin-bottom:10px;
}

#tekst
{
	position:relative;
	float:left;
	width:30vw;
	height:20vh;
	margin-left:auto;
	margin-right:auto;
}
#tekst>h2
{
	font-size:120%;
	text-align:center;
	margin-top:-2vh;
	margin-bottom:-2vh;
	
}
#tekst>p
{
	overflow:auto;
	word-wrap:break-word;
	font-size:100%;
	text-align:center;
	margin-top:4%;
}

#link
{
	position:relative;
	padding-right:5px;
	position:relative;
	width:10vw;
	height:20vh;
	float:right;
	margin-left:auto;
	margin-right:auto;
}
#link>a>img
{
	position:relative;
	height:100%;
	width:100%;
	float:right;
}

#ostali
{
	position:relative;
	width:70%;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	/*padding:15px;
	background-color:#F0F0F0;
	border-style:outset;
	border-color:black;*/
	float:right;
}

#ostali>section
{
	position:relative;
	padding-top:5%;
	padding-bottom:5%;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	height:20vh;
	background-color:#F0F0F0;
	border-style:solid;
	border-color:black;

}

#ostali>section>#link>a>img
{
	position:relative;
	height:100%;
	width:100%;
	float:right;
}
/*
#ostali>section>#slika
{
	float:left;
}
*/
#ostali>section>div>img
{
	position:relative;
	padding-bottom:15%;
	position:relative;
	height:100%;
	width:100%;
	margin-bottom:10%;
}

footer
{
	margin:2px;
	text-align:center;
	background-color:#0099ff;
	border-style:solid;
	border-color:navy;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	clear:both;
	float:bottom;
}